.inputContainer{
  display: flex;
  flex-direction: column;
}

.innerInputContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.labelName{
  font-size: 12px;
}

h6{
  margin: 0;
}
